/* CABECERA */
.cabecera {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-color: black;
}
.logo {
  width: 100px;
}
.enlace {
  display: none;
}
.menu {
  width: 20px;
}

/* MAIN */

.blue {
  background-color: rgb(66, 120, 172);
}

h2 {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 80px;
}
h3 {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 25px;
}
h4 {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.condiciones {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
}
.enlace {
  color: white;
}

/* FOOTER */
