:root {
  max-width: 480px;
  box-sizing: border-box;

  --fuente-normal: "Roboto", sans-serif;
}

body {
  font-family: var(--fuente-normal);
}

/* CABECERA */
.cabecera {
  color: white;
  font-size: 25px;
  background-color: black;
  height: 5vh;
  min-height: 30px;
  display: flex;
  border: solid 3px red;
}

.container {
  display: flex;
  width: 450px;
  padding: 5px;
  margin: 1px;
  justify-content: space-center;
  border: solid 3px blue;
}
.logo {
}
.enlace {
  display: none;
}
.menu {
}

/* MAIN */

.blue {
  background-color: rgb(66, 120, 172);
  color: white;

  /* height: 50vh; */
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.encabezado-1 {
  font-weight: bold;
  font-size: 50px;

  margin: 0;
}
.subtitulo {
  font-size: 25px;
}

.white {
}
.encabezado-2 {
  font-size: 80px;
}

h4 {
  color: white;
  font-size: 15px;
}
.condiciones {
  color: white;
  font-size: 10px;
}
.enlace {
  color: white;
}

/* FOOTER */
